.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

.ajax-loader {
  display: none;
  height: $base__space-unit;
  width: $base__space-unit;
  position: absolute;
  top: 50%;
  left: 49%;
}

.search-menu {
  margin: 0rem 0rem 0rem 3rem;
}

.imageurl:hover .story-text {
  bottom: 0;
  height: 40%;
}

.stories {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 0 1 100%;
      max-width: 100%;
      a {
        text-decoration: none;
      }
      .storywrapper {
        .imageurl {
          display: block;
          height: 420px;
          width: 100%;
          background-position: 50%;
          background-size: cover;
          position: relative;
          .story-text {
            background: rgba(0,0,0,.6);
            color: #fff;
            font-size: 1rem;
            position: absolute;
            bottom: 0rem;
            p {
              line-height: $base__space-unit;
              vertical-align: baseline;
              padding: 0.5rem;
            }
          }
        }
      }
      @include tablet {
        flex: 0 1 33.33%;
        max-width: 33.33%;
      }
      @include desktop {
        flex: 0 1 25%;
        max-width: 25%;
      }
    }
  }
}
}