.container {
  display: flex;
  flex-direction: column;

.ajax-loader {
  height: 1.5rem;
  width: 1.5rem;
}

.stories {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 0 1 100%;
      max-width: 100%;
      a {
        text-decoration: none;
      }
      .storywrapper {
        .imageurl {
          display: block;
          height: 420px;
          width: 100%;
          background-position: 50%;
          background-size: cover;
          .story-text {
            background: rgba(0,0,0,.6);
            bottom: 0;
            color: #fff;
            display: flex;
            font-size: 1rem;
            p {
              line-height: 1.5rem;
              vertical-align: baseline;
            }
          }
        }
      }
      @include tablet {
        flex: 0 1 33.33%;
        max-width: 33.33%;
      }
      @include desktop {
        flex: 0 1 25%;
        max-width: 25%;
      }
    }
  }
}
}