.site-footer {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  justify-content: center;
  @include tablet {
    justify-content: center;
    }
  @include desktop {
    justify-content: flex-start;
    }
  p {
    color: $color__maintext;
    text-align: bottom;
    font-family: 'Open Sans';
    padding-top: 2rem;
  }
}