.site-header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: auto;

  @include tablet {
    flex-direction: row;
    height: 100%;
    
  }
  @include desktop {
    justify-content: flex-start;
    height: 100%;
  }
 
  .logo {
    max-width: 15rem;
    width: 15rem;
    flex-direction: row;
    justify-content: center;
    display: flex;

    @include tablet {
      
    }
    @include desktop {
      
    }

    .img {
      justify-content: center;
      height: 50rem;
      width: 50rem;
      @include tablet {
        height: auto;
        width: auto;
      }
      @include desktop {
        height: auto;
        width: auto;
      }
    }
  }

}

.search-menu {
  align-self: center;
  padding-top: 1rem;
  padding-right: 3.5rem;

  @include tablet {
    padding-top: 0rem;
  }
  @include desktop {
    padding-top: 0rem;
  }
}

.menu-title {
  margin-bottom: 0.5rem;
}

.selector {
  font-size: 1.1rem;
}